
<div class="col-12 h-100">
    <div class="form row d-flex align-items-center justify-content-center flex-column">
        <form method="post" class=" col-md-9 data col-sm-10 my-2 d-flex align-items-center justify-content-center flex-column" style="gap: 5px">
            <h2 class="">Contact Me</h2>
            <input class="form-control col-md-6 data col-sm-10 my-2" placeholder="Full Name">
            <input class="form-control col-md-6 data col-sm-10 my-2" placeholder="Email">
            <input class="form-control col-md-6 data col-sm-10 my-2" placeholder="Phone Number">
            <textarea class="form-control my-2" placeholder="Message" rows="5"></textarea>
            <input type="submit" class="btn col-12 btn-primary form-control" value="SEND">
        </form>
    </div>
</div>