
<div class="col-12 h-100 my-3">
    <div class="form row d-flex align-items-center justify-content-center flex-column">
        <form method="post" class=" col-md-9 data col-sm-10 my-2 d-flex align-items-center justify-content-center flex-column" style="gap: 5px">
            <h2 class="">What's Your Experience</h2>
            <input type="email" required class="form-control col-md-6 data col-sm-10 my-2" placeholder="Email">
            <textarea required class="form-control my-2" placeholder="Message" rows="5"></textarea>
            <input type="submit" class="btn col-12 btn-outline-primary form-control" value="SUBMIT">
        </form>
    </div>
</div>
